@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'InterTight-Regular';
    src: url('/fonts/InterTight-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}